<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Olvide mi contraseña</title>
</head>
<body>
    <br>
    <h1>Olvide mi contraseña</h1>
    <br>
    <h3>Ingresa tu email y te enviaremos un mail con tu nueva contraseña</h3>
    <br>
    <form class="register-form" action="forgotpassword" method="post">
        <input type="email" name="emailpsswd" id="" required>
        <br>
        <input type="submit" class="btn-register" value="Enviar email">
    </form>
    <a href="/" class="indexbtn">Volver al inicio</a>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if (typeof alert != "undefined")  { %>
     <script>
     Swal.fire({
       title:'<%= alertTitle %>',
       text:'<%= alertMessage %>',
       icon:'<%= alertIcon %>',
       showConfirmButton: '<%= showConfirmButton %>',
       timer: false
     }).then(()=>{
       window.location='/<%= ruta %>'
     })
     </script>
    <% } %>
</body>
</html>