<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Covid-19</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <br>
    <h1>Informacion sobre la vacuna de Covid-19</h1>
    <br>
    <br>
    <h2>Cuantas dosis se aplico de la vacuna contra el covid-19?</h2>
    <br>
    <form class="covidform" action="infoCovid" method="post">
        <label for="">Cantidad de dosis</label>
        <select type="menu" name="doses" required>
            <option selected="true" disabled="disabled" value="empty"></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <input type="submit" class="btn-save" value="Continuar">
    </form>
    <div style="display: inline;">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <% if (typeof alert != "undefined")  { %>
         <script>
         Swal.fire({
           title:'<%= alertTitle %>',
           text:'<%= alertMessage %>',
           icon:'<%= alertIcon %>',
           showConfirmButton: '<%= showConfirmButton %>',
           timer: false
         }).then(()=>{
           window.location='/<%= ruta %>'
         })
         </script>
        <% } %>
    </div>
</body>
</html>