<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Fiebre Amarilla</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <h1>Informacion sobre la vacuna de la Fiebre Amarilla</h1>
    <h2>Ha recibido una vacuna contra la Fiebre Amarilla?</h2>
    <form action="infoFiebreAmarilla" method="post">
        <select type="menu" name="fevervaccine" id="menuFiebre" required>
            <option selected="true" disabled="disabled"></option>
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>
        <input type="date" name="datefevervaccine" id="inputDate" disabled/>
        <script>
            let menuFiebre= document.getElementById("menuFiebre");
            menuFiebre.addEventListener('change',()=>{
                let selectedOption = menuFiebre.options[menuFiebre.selectedIndex];
                let inputDate= document.getElementById("inputDate");
                if(selectedOption.value=="1"){
                    console.log("activo calendario");
                    inputDate.disabled=false;
                }else{
                    console.log("desactivo calendario");
                    inputDate.disabled=true;
                }
            });
        </script>
        <input type="submit" class="btn-save" value="Continuar">
    </form>
    <div style="display: inline;">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <% if (typeof alert != "undefined")  { %>
         <script>
         Swal.fire({
           title:'<%= alertTitle %>',
           text:'<%= alertMessage %>',
           icon:'<%= alertIcon %>',
           showConfirmButton: '<%= showConfirmButton %>',
           timer: false
         }).then(()=>{
           window.location='/<%= ruta %>'
         })
         </script>
        <% } %>
    </div>
</body>
</html>