<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Registrarme en VacunAssist</title>
</head>
<body>
    <div class="register-form">
        <h2>Formulario de registro</h2>
        <form action="register" method="post">
            <label for="">Nombre</label>
            <input type="text" name="name" required>

            <label for="">Apellido</label>
            <input type="text" name="lastname" required>

            <label for="">Email</label>
            <input type="email" name="email" required>

            <label for="">Contraseña</label>
            <input type="password" name="password" required>

            <label for="">DNI</label>
            <input type="text" name="DNI" required>

            <label for="">Fecha de nacimiento</label>
            <input type="date" name="dateofbirth" required>

            <label for="">Estas dentro del grupo de personas de riesgo?</label>
            <select type="menu" name="risk" required>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
            
            <label for="">Zona del vacunatorio que quiera</label>
            <select type="menu" name="zone" required>
                <option value="municipalidad">Zona Municipalidad (51 e/10 y 11 nro 770)</option>
                <option value="cementerio">Zona Cementerio (138 e/73 y 74 Nro 2035)</option>
                <option value="terminal">Zona Terminal (3 e/41 y 42 nro 770)</option>
            </select>




            <div style="display: inline;">
                <input type="submit" class="btn-save" value="Guardar"><a href="/" class="btn-cancel">Volver al inicio</a>
            </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if (typeof alert != "undefined")  { %>
     <script>
     Swal.fire({
       title:'<%= alertTitle %>',
       text:'<%= alertMessage %>',
       icon:'<%= alertIcon %>',
       showConfirmButton: '<%= showConfirmButton %>',
       timer: false
     }).then(()=>{
       window.location='/<%= ruta %>'
     })
     </script>
    <% } %>
    
    </div>
    
</body>
</html>