<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas con turno para el dia de la fecha</title>
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <br>
    <h1>Listado de personas que solicitaron la baja de su cuenta </h1>
    <br>
    <h4>Seleccione a los usuarios que desea dar de baja</h4>
    <form action="otorgarBaja" method="post">
    <% if (accounts.length != 0) {
        for(let i=0;i<accounts.length;i++){ %>
            <br>
                <input type="checkbox" value="1" name=<%= accounts[i].id %> id=<%= accounts[i].id %> > Nombre y apellido: <%= accounts[i].name %> <%= accounts[i].lastname %>
                <p>Email: <%= accounts[i].email %></p>
                <p>Motivo: <%= accounts[i].unsubscribemotive %></p>
    <%  }  %>
    <input type="submit" class="indexbtn" value="Dar de baja" href="dashboardAdministrator">
    <%   } else {  %>
        <p>No hay cuentas que hayan solicitado la baja</p>
        <%  
    } %>
    </form>

    <a href="/administrator/dashboard" class="indexbtn">Volver al inicio</a>
    <br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
            title:'<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: '<%= showConfirmButton %>',
            timer: false
        }).then(()=>{
            window.location='/<%= ruta %>'
        })
        </script>
    <% } %>
</body>
</html>