<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas con turno para el dia de la fecha</title>
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <br>
    <h1>Listado de personas con turno para vacunacion  </h1>
    <h1>en zona <%= zonav %> para el dia de hoy:</h1>
    <br>
    <br>
    <% if (turnsinfo.length != 0) {
        for(let i=0;i<turnsinfo.length;i++){ %>
        <br>
        <label for="">Nombre:</label>
        <label for=""><%= turnsinfo[i].name %></label>
        <br>
        <label for="">Apellido:</label>
        <label for=""><%= turnsinfo[i].lastname %></label>
        <br>
        <label for="">Vacuna:</label>
        <label for=""><%= turnsinfo[i].vaccinename %></label>
        <br>
        <label for="">Numero de dosis:</label>
        <label for=""><%= turnsinfo[i].dose %></label>
        <br>
        <label for="">Estado del turno:</label>
        <label for=""><%= turnsinfo[i].state %></label>
        <br>
        <label for="">Observaciones: </label>
        <label for=""><%= turnsinfo[i].observation %></label>
        <br><br>
        <label for="">--------------------------------------------------------------------------------------</label>
        <br>
    <%  }
    } else {  %>
        <p>No hay turnos para hoy en esta zona</p>
        <%  
    } %>

    <a href="/vacunator/dashboard" class="indexbtn">Volver al inicio</a>
    <br>
    <br>

</body>
</html>