<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver mis datos</title>
</head>
<body>
    <table border="1">
        <tr>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>DNI</th>
          <th>Zona elegida para el vacunatorio</th>
          <th>Fecha nacimiento</th>
          <th>riesgo</th>
        </tr>
        <tr>
            <td><%= personuserdata[0].name %></td>
            <td><%= personuserdata[0].lastname %></td>
            <td><%= personuserdata[0].email %></td>
            <td><%= personuserdata[0].DNI %></td>
            <td><%= personuserdata[0].zone %></td> 
            <td><%= personuserdata[0].dateofbirth %></td>  
            <td><%= personuserdata[0].risk %></td>
        </tr>
      </table>
      <a href="/personUser/dashboard">Retornar</a>
</body>
</html>